<html>
    <head>
        <body>
            <p>You have received a message from SaaS contact form, from <%= "#{ @name }, #{ @email }." %> </p>
            <p><%= @body %></p>
        </body>
    </head>
</html>